.rod {
/*  background: url('../../assets/Frame1.png') no-repeat center center;*/
 /* background-repeat: no-repeat; */
  background-position: center center;
  background-size: contain;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 60px;
  width: 100px;
  position: relative;
}