#root {
  width: 100%;
  display: flex;
}

body {
  background: var(--bg);
  color: var(--black);
  min-height: 100vh;
  margin-inline: auto;
}


button {
  cursor: pointer;
  user-select: none;
}

.App {
  margin-top: 1.5rem;
  margin-inline: auto;
}
