#root {
  width: 100%;
  display: flex;
}

body {
  background: var(--bg);
  color: var(--black);
  min-height: 100vh;
  margin-inline: auto;
}

main {
  flex: 1;
}

button {
  cursor: pointer;
  user-select: none;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-inline: auto;
}

